# Composer
/vendor

# Node
node_modules/
npm-debug.log
yarn-error.log

# Laravel
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# IDE / Editor
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Laravel 4
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen
public/storage
public/hot

# Laravel 5 & Lumen with public_html
public_html/storage
public_html/hot

# Auth
auth.json
